# Игнорируем виртуальные среды Python
venv/
__pycache__/
*.pyc
*.pyo

# Игнорируем скомпилированные файлы
*.db
*.sqlite3

# Игнорируем логи
*.log

# Игнорируем файлы, связанные с тестированием
test_*.py
*.tox
*.coverage

# Игнорируем конфигурационные файлы IDE (например, VS Code, PyCharm)
.vscode/
.idea/

# Игнорируем файлы с данными, которые не нужно заливать (например, временные файлы)
*.bak
*.swp